#head{
    width: auto;
    height: 150px;
    background-color: blueviolet;
}
#body{
    width: auto;
    height: 150px;
    background-color: cornflowerblue;
    height: 100px;
    width: auto;
   
}

#foot{
    width:auto ;
    height: 150px;
    background-color: gold;
}