<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body style="background-color: rgb(116, 116, 239); color: white;">
    <h1>This is my about us page</h1>
    <h3>Nav bar</h3>
    <nav>
        <li>
            <ul>home</ul>
            <ul>About</ul>
            <ul>Features</ul>
            <ul>Contact us</ul>
        </li>
        <a href="https://instagram.com">Instagram</a>
</body>

</html>