<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <h1 style="display: flex; align-items: center; justify-content: center;">Calculator</h1>
    

    <form action="cal">
        <input type="text" name="a1">
        <input type="text" name="a2">
        <input type="submit" name="sub" value="submit">
    </form>
    <input type="text" value="{{w}}">
    <input type="text" value="{{x}}">
    <input type="text" value="{{y}}">
    <input type="text" value="{{z}}">


</body>

</html>